# Web Framework & Server
fastapi
uvicorn[standard]

# Real-time Communication
websockets

# Data Validation & Settings
pydantic
pydantic-settings

# Security (Authentication / JWT)
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# Utilities
python-dotenv
emoji

# Database
sqlalchemy
psycopg[binary]
alembic

# LLM & Voice Integration
langchain-core
langchain-ollama
langchain-groq
ollama
edge-tts
numpy
openai-whisper
